@font-face {
    font-family: "Breathing";
    src: url(Fonts/Breathing.ttf);
}

@font-face {
    font-family: "Primary";
    src: url(Fonts/KGPrimaryPenmanship.ttf);
}

@font-face {
    font-family: "Handwritten";
    src: url(Fonts/FuturaHandwritten.ttf);
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #F38DA0;
    text-decoration: none;
}

body {
    margin: 0;
}


/* Header */
header {
    background-color: #F38DA0;
    display: flex;
    justify-content: center;
}

.VictoriaLizzio {
    color: white;
    font-size: 65px;
    font-family: "Breathing";
    font-weight: 100;
    margin-top: 45px;
    margin-bottom: 25px;
}


/* Titoli */
.container-titoli {
    background-color: #FAE0E4;
    margin: 40px;
    display: flex;
    justify-content: center;
}

.titoli {
    font-family: "Primary";
    font-size: 45px;
    padding: 10px;
    margin: 0px;
}


/* Biografia */
.container-bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 70px;
        margin-right: 70px;
}

.testo-bio {
    font-family: "Handwritten";
    font-size: 40px;
    text-align: justify;
    margin: 0px;
    margin-bottom: 40px;
}

.img-bio {
    border-radius: 500px;
    height: 300px;
}


/* Categorie */
.categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorie img {
    height: 400px;
    border-radius: 80px;
}

.testo {
    display: flex;
    justify-content: center;
}

.testo-categorie {
    font-family: "Handwritten";
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
}


/* Contatti */
.contatti {
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    border: solid #F38DA0;
    border-width: 4px;
    border-radius: 40px;
    font-family: "Primary";
    font-size: 40px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 90px;
}


/* Footer */
footer {
    background-color: #F38DA0;
    display: flex;
    justify-content: center; 
}

.testo-footer {
    color: white;
    font-family: "Primary";
    font-size: 45px;
}


/* Pagina 1 */
.centro {
    display: flex;
    justify-content: center;
}

.container-opere, .container-opere-3 {
    margin: 80px;
    margin-top: 0px;
    width: 819px;
}

.container-opere img, .container-opere-3 img {
    border-radius: 50px;
    width: 819px;
}

.testo-opere {
    font-family: "Handwritten";
    font-size: 35px;
    margin: 30px;
    margin-bottom: 50px;
    margin-right: 0px;
}


/* Pagina 2 */
.container-opere-2 {
    margin: 80px;
    margin-top: 0px;
    width: 820px;
}

.container-opere-2 img {
    width: 820px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.duskull img {
    width: 820px;
    border-radius: 50px;
}


/* Pagina 3 */
.container-opere-3 img {
 margin-bottom: 30px;
}

.container-contatti {
    display: grid;
    grid-template-columns: 100px 585px;
    column-gap: 40px;
    row-gap: 80px;
    margin-top: 100px;
    align-items: center;
}

.container-contatti img {
    width: 100px;
}

.testo-contatti {
    font-family: "Handwritten";
    font-size: 45px;
}



/* Versione Desktop */
@media only screen and (min-width: 1024px) {

    /* Header */
    .VictoriaLizzio {
        font-size: 35px;
        margin-top: 35px;
        margin-bottom: 15px;
    }


    /* Titoli */
    .container-titoli {
        margin: 40px;
        margin-left: 100px;
        margin-right: 100px;
        display: flex;
        justify-content: left;
    }
    
    .titoli {
        font-size: 25px;
        padding: 10px;
        margin: 0px;
    }


    /* Biografia */
    .container-bio {
        display: flex;
        flex-direction: row;
        margin-left: 150px;
        margin-right: 150px; 
    }

    .testo-bio {
        font-size: 20px;
        margin-bottom: 0;
    }

    .img-bio {
        margin-left: 30px;
        height: 180px;
    }


    /* Categorie */
    .categorie {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .categorie img {
        height: 220px;
        border-radius: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .testo-categorie {
        font-size: 20px;
        margin-top: 30px;
    }


    /* Contatti */
    button {
        font-size: 25px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 60px;
    }


    /* Footer*/
    .testo-footer {
        font-size: 20px;
    }
    

    /* Pagina 1 */
    .container-opere {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
        row-gap: 40px;
        margin-bottom: 60px;
        margin: 0px;
        width: 1078px;
    }

    .container-opere img, .container-opere-3 img {
        border-radius: 20px;
        width: 519px;
    }

    .testo-opere {
        font-size: 20px;
    }

    /* Pagina 2 */
    .container-opere-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
        margin-bottom: 60px;
        margin: 0px;
        width: 1078px;
    }

    .container-opere-2 img {
        border-radius: 20px;
        width: 333px;
        margin-bottom: 0px;
    }

    .duskull img {
        width: 520px;
    }

    /* Pagina 3 */
    .container-opere-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
        margin-bottom: 80px;
        width: 1078px;
    }

    .container-opere-3 img {
        margin: 0;
    };

    /* Contatti */
    .container-contatti {
        display: grid;
        grid-template-columns: 71px 455px;
        margin-left: 60px;
    }
    
    .container-contatti img {
        width: 71px;
    }
    
    .testo-contatti {
        font-family: "Handwritten";
        font-size: 35px;
    }
}
